* {
  font-family: 'Libre Baskerville', serif;
  box-sizing: border-box;
}


html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.6;
  color: hsl(0, 0%, 20%);
  background-color: hsl(0, 0%, 100%);
}

::selection {
  background-color: hsla(80, 100%, 50%, 50%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin-top: 2em;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
  margin-top: 1em;
}

p,
ul,
ol,
pre {
  margin-top: 0.75em;
}

li {
  margin-top: 0.25em;
}

code {
  display: inline;
  font-size: 1.25em;
}

code, pre {
  background-color: hsl(204, 15%, 94%);
  padding: 0.3em 0.4em;
  border-radius: 0.2em;

  font-family: monospace;
}


a {
  color: hsl(210, 100%, 50%);
  text-decoration: none;
}

a:hover {
  border-bottom: 2px hsl(210, 100%, 55%) solid;
}

a:visited {
  color: hsl(210, 100%, 40%);
}

ul,
ol {
  list-style-position: outside;
  padding-left: 1.75em; 
}

ul > li,
ol > li {
  padding-left: 0.5em;
}

ul > li {
  list-style: disc;
}
