.container {
  max-width: 60ch;
  padding: 0 20px;
  margin: 0 auto;
}

.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  padding: 0 20px;

  background-color: hsl(0, 0%, 100%);
}

.nav {
  width: 100%;
  height: 80px;
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 1px solid hsl(0, 0%, 90%);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav a,
.nav .nav-item {
  color: hsl(0, 0%, 20%);
}

.nav .nav-item {
  margin-left: 5px;
  min-height: 42px;
  min-width: 42px;
  line-height: 42px;

  text-align: center;
}

.nav .nav-item:first-of-type {
  margin-left: 0;

  text-align: right;
}

.nav .nav-item:last-of-type {
  text-align: right;
}


.nav-container ~ main {
  padding-top: 80px;
}

footer {
  padding: 30px 0;
}

