<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- load MUI -->
	{# <link href="//cdn.muicss.com/mui-0.10.0/css/mui.min.css" rel="stylesheet" type="text/css" /> #}
	{# <script src="//cdn.muicss.com/mui-0.10.0/js/mui.min.js"></script> #}


	<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<script src="/static/js/app.js"></script>
	<title>{% if self.pagetitle %}{{ self.pagetitle() }} | {% endif %}Tibor's #100DaysOfCode Journal</title>
</head>
<body>
	<div class="container">
		<header class="nav-container">
			<nav id="nav" class="nav">
					<a class="nav-item" href="/home">Home</a>
					<a class="nav-item" href="/README.md">About</a>
					<a class="nav-item" href="/log.md">Log</a>
					<a class="nav-item" href="/rules.md">Rules</a>
					<a class="nav-item" href="/FAQ.md">FAQ</a>
					<div id="nav-toggle" class="nav-toggle closed" onclick="toggleNav()"></div>
			</nav>
		</header>
		<main>
			<article>
				{% block content %}{% endblock %}
			</article>
		</main>
		<hr>
	</div>
</body>
</html>