<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- load MUI -->
	{# <link href="//cdn.muicss.com/mui-0.10.0/css/mui.min.css" rel="stylesheet" type="text/css" /> #}
	{# <script src="//cdn.muicss.com/mui-0.10.0/js/mui.min.js"></script> #}


	<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	<title>{% if self.pagetitle %}{{ self.pagetitle() }} | {% endif %}Tibor's #100DaysOfCode Journal</title>
</head>
<body>
	<div class="container">
		<div>
			<header>
				<nav>
					<ul>
						<li><a href="/home">Home</a></li>
						<li><a href="/log.md">Log</a></li>
						<li><a href="/rules.md">Rules</a></li>
						<li><a href="/FAQ.md">FAQ</a></li>
					</ul>
				</nav>
			</header>
			<div>
				<article>
					{% block content %}{% endblock %}
				</article>
			</div>
			<footer>
				{# Only for some space in the bottom #}
			</footer>
		</div>
	</div>
</body>
</html>