{% extends "base.html.j2" %}

{% block pagetitle %}Home{% endblock %}

{% block content %}
	<h1>I've joined the #100DaysOfCode challenge</h1>
	<p>
		I will code for at least one hour every day for the next 100 days. 
	</p>
	<p>
		If you are not familiar with the #100DayOfCode challenge, check out <a href="http://100daysofcode.com/" target="_blank">the Official Site</a> for the #100DaysOfCode movement. 
		Also, see the <a href="/rules.md">rules</a> and <a href="/FAQ.md">FAQ</a> pages.
	</p>
	<p>
		During these 100 days I will be working through the projects defined in the <a href="https://raw.githubusercontent.com/talkpython/100daysofweb-with-python-course/" target="_blank">#100DaysOfWeb in Python</a> course by <a href="https://www.talkpython.fm" target="_blank">TalkPython</a> and <a href="https://www.pybit.es" target="_blank">PyBites</a>. 
		The official #100DaysOfCode rules state that time spent on online courses, tutorial etc. does not count into your daily hour. 
		Part of the "#100DaysOfWeb in Python" course are videos that explain a certain technology. 
		I will not count the time spent watching the videos. 
		But, I will count the time working on the projects that are defined in the "#100DaysOfWeb in Python" course, which make use of the technology introduced in the preceding video.
	</p>
	<p>
		If you are interested in my progress check out the <a href="/log.md">log</a> where I journal my progress.
		I will also tweet short summaries of my daily progress. 
		My twitter handle is  <a href="https://twitter.com/tbrlpld" target="_blank">@tbrlpld</a>.
	</p>
	<p>
		You can also checkout my <a href="https://github.com/tbrlpld/100daysofweb-with-python-course">work repo</a> for the "#100DayOfWeb in Python" course or my #100DaysOfWeb <a href="https://github.com/tbrlpld/100-days-of-code/" target="_blank">journalling repo</a> on Github. 
	</p>
{% endblock %}